.pagination-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  margin-top: 3rem;
}

.pagination-next,
.pagination-prev {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 1rem;
}

.pagination-prev {
  flex: 0 0 auto;
}

.pagination-numbers {
  display: flex;
  gap: 0.5rem;
  flex: 1;
  justify-content: center;
  flex-wrap: wrap;
}

.pagination-next {
  flex: 0 0 auto;
}

.pagination-btn {
  --prevNext: 96px;
  width: 100%;
  height: 40px;
  max-width: 40px;
  border: 1px solid var(--Beige-500);
  background-color: var(--White);
  color: var(--Grey-900);
  border-radius: 8px;
  cursor: pointer;
  font: var(--text-preset-4);
  transition: all 0.3s ease;
  &.pagination-next {
    max-width: var(--prevNext);
  }
  &.pagination-prev {
    max-width: var(--prevNext);
  }
}

.pagination-btn:hover:not(:disabled) {
  /* background-color: #f5f5f5; */
  border-color: #999;
}

.pagination-btn:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.pagination-active {
  background-color: var(--Grey-900);
  color: #fff;
  border-color: var(--Grey-900);
}

.pagination-active:hover {
  background-color: #2a2927;
}

.ellipsis {
  display: none;
}

@media (max-width: 768px) {
  .pagination-container {
    gap: 0.5rem;
    padding: 0.75rem;
  }

  .pagination-btn {
    padding: 0.4rem 0.8rem;
    font-size: 0.85rem;
  }

  .pagination-numbers {
    gap: 0.5rem;
  }
}

@media (max-width: 425px) {
  .pagination-next,
  .pagination-prev {
    width: min-content;
  }
  .ellipsis {
    display: block;
  }
  .pagination-btn.hide {
    display: none;
  }
}
