@property --angle {
  syntax: "<angle>";
  inherits: false;
  initial-value: 0deg;
}

.chart {
  --rad: 240px;
  width: 100%;
  min-width: var(--rad);
  max-width: var(--rad);
  height: var(--rad);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 0;
  background: conic-gradient(from var(--angle), var(--segments));

  &::before {
    content: "";
    position: absolute;
    width: 162px;
    height: 162px;
    background: var(--White);
    border-radius: inherit;
    z-index: 15;
  }
  &::after {
    content: "";
    position: absolute;
    width: 187.5px;
    height: 187.5px;
    background: var(--White);
    border-radius: inherit;
    opacity: 0.25;
    z-index: 15;
  }
  .chart-inner {
    position: relative;
    text-align: center;
    z-index: 20;
    h5 {
      color: var(--Grey-500);
    }
  }
}

@property --slice-fill {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 0%;
}

.slice {
  position: absolute;
  inset: 0;
  border-radius: 50%;
  background: conic-gradient(
    var(--color) 0% var(--slice-fill),
    transparent var(--slice-fill) 100%
  );
  animation: fillSlice 1s ease-out forwards;
}

@keyframes fillSlice {
  from {
    --slice-fill: 0%;
  }
  to {
    --slice-fill: var(--target);
  }
}

.chart2 {
  text-align: center;
  z-index: 1;
  position: absolute;
  width: 240px;
  height: 240px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
  h5 {
    color: var(--Grey-500);
  }
  &::before {
    content: " ";
    position: absolute;
    width: 162px;
    height: 162px;
    background: var(--White);
    border-radius: 50%;
    z-index: -1;
  }
  &::after {
    content: "";
    position: absolute;
    width: 187.5px;
    height: 187.5px;
    background: var(--White);
    border-radius: inherit;
    opacity: 0.25;
  }
}

.chart-inner_svg {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-content: center;
  text-align: center;
  inset: 0;
  z-index: 20;
  h5 {
    color: var(--Grey-500);
  }
}

svg circle {
  transform-origin: center;
}

.pie-slice {
  stroke-dasharray: var(--dash);
  animation: drawSlice 0.5s cubic-bezier(0.22, 0.61, 0.36, 1) forwards;
}

@keyframes drawSlice {
  from {
    stroke-dasharray: 0 var(--Circu);
  }
  to {
    stroke-dasharray: var(--acc) var(--Circu);
  }
}
