.modal-overlay {
  position: fixed;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.5);
  z-index: 50;
}
.modal-container {
  background: var(--White);
  border-radius: 12px;
  width: 100%;
  max-width: 560px;
  max-height: 490px;
  padding: 32px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.12);
  overflow: visible;
}
.modal-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: var(--Spacing-250);
}
.modal-close {
  font-size: 32px;
  display: inherit;
  color: var(--Grey-500);
  > svg {
    padding: 3.25px;
  }
}
.modal-paragraph {
  color: var(--Grey-500);
  margin: var(--Spacing-200) 0;
}

.modal-form label {
  margin-bottom: 4px;
  display: block;
  font: var(--text-preset-5);
  color: var(--Grey-500);
}

.modal-form .input-layout {
  margin-bottom: 1rem;
  flex-direction: column;
}

.modal-form p {
  font: var(--text-preset-5);
  width: 100%;
  text-align: right;
  color: var(--Grey-500);
}

.modal-form .popup-menu {
  max-width: 100% !important;
}

.modal-form .input-custom,
.modal-form .input-custom {
  width: 100%;
}
.modal-actions {
  margin-top: 20px;
  > .btn.grey {
    color: var(--Grey-500);
  }
}
.modal-actions .btn {
  width: 100%;
}

.modal-form .input-custom:has(input[id^="target-"]) {
  grid-template-columns: auto 1fr;
  align-items: normal;
}

input[id^="target-"] + svg {
  color: var(--Grey-500);
  font-weight: 100;
  grid-row-start: 1;
}

.bar-form {
  .potCard-barPercent {
    margin-bottom: 30.5px;
  }
  .progress-bar {
    display: flex;
    column-gap: 2px;
    .progress-fill.bar-default {
      border-top-right-radius: 0px;
      border-bottom-right-radius: 0px;
    }
    .progress-fill.Add,
    .progress-fill.withdraw {
      border-top-left-radius: 0px;
      border-bottom-left-radius: 0px;
    }
    .progress-fill.withdraw.fullwithdraw {
      border-radius: 4px;
    }
  }
  .potCard-info {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    h4,
    h5:last-child {
      color: var(--Grey-500);
    }
    h5.Add {
      color: var(--Green);
    }
    h5.withdraw {
      color: var(--Red);
    }
    &:first-child {
      margin-bottom: 1rem;
    }
  }
}

@media (max-width: 600px) {
  .modal-container {
    width: 90%;
    max-width: 520px;
    padding: 20px;
  }
}
