.input-custom {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr auto;
  border: 1px solid var(--Beige-500);
  border-radius: 8px;
  font-size: var(--text-preset-4);
  padding: 12px 14.5px 12px 14.5px;
  &:focus-within {
    border-color: var(--Grey-900);
  }
  > input {
    border: none;
    border-radius: inherit;
    padding-right: 1rem;
    padding-left: 0.1rem;
    width: 100%;
    &:focus-visible {
      outline: none;
    }
  }
}

.input-layout {
  display: flex;
  gap: 8px;
  flex-direction: row;
  align-items: center;
  > h4 {
    color: var(--Grey-500);
  }
}

.input-custom.check {
  grid-template-columns: auto 1fr auto;
  gap: 0.75rem;
  &:before {
    content: "";
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: var(--color);
  }
}

.mobile {
  display: none;
}

form {
  input {
    font-size: var(--text-preset-4);
  }
  .input-default {
    input[type="text"],
    input[type="email"],
    input[type="password"] {
      width: 100%;
      border: 1px solid var(--Beige-500);
      border-radius: 8px;
      padding: 12px 14.5px 12px 14.5px;
    }
  }
}
