* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  letter-spacing: 0px;
}

html,
body {
  font-size: 16px;
  font-family: "Public Sans", sans-serif;
  background-color: var(--Beige-100);
}

a {
  text-decoration: none;
  color: inherit;
}

span,
a {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
}

ul,
ol {
  list-style: none;
}

:root {
  /* typography */
  --text-preset-1: bold 32px/1.2 "Public Sans", sans-serif;
  --text-preset-2: bold 20px/1.2 "Public Sans", sans-serif;
  --text-preset-3: bold 1rem/1.5 "Public Sans", sans-serif;
  --text-preset-4: normal 14px/1.5 "Public Sans", sans-serif;
  /* --text-preset-5: normal clamp(2vw, 1rem, 1vw) / 1.5 "Public sans", sans-serif; */
  --text-preset-5: normal 12px/ 1.5 "Public sans", sans-serif;
  /* Colors */
  --Beige-100: rgb(248, 244, 240);
  --Beige-500: rgb(152, 144, 139);
  --Grey-100: rgb(248, 244, 240);
  --Grey-300: rgb(179, 179, 179);
  --Grey-500: rgb(105, 104, 104);
  --Grey-900: rgb(32, 31, 36);
  --Green: rgb(39, 124, 120);
  --Yellow: rgb(242, 205, 172);
  --Navy: rgb(98, 96, 112);
  --Red: rgb(201, 71, 54);
  --Cyan: rgb(130, 201, 215);
  --Purple: rgb(130, 108, 176);
  --Purple-2: rgb(175, 129, 186);
  --Turquoise: rgb(89, 124, 124);
  --Brown: rgb(147, 103, 79);
  --Magenta: rgb(147, 79, 111);
  --Blue: rgb(63, 130, 178);
  --Navy-Grey: rgb(151, 160, 172);
  --Army-Green: rgb(127, 145, 97);
  --Gold: rgb(202, 179, 97);
  --Orange: rgb(190, 108, 73);
  --White: rgb(255, 255, 255);
  /* Spacing */
  --Spacing-500: 40px;
  --Spacing-400: 32px;
  --Spacing-300: 24px;
  --Spacing-250: 20px;
  --Spacing-200: 1rem;
  --spacing-150: 12px;
  --Spacing-100: 8px;
  --spacing-50: 4px;
}

h1 {
  font: var(--text-preset-1);
}

h2 {
  font: var(--text-preset-2);
}
h3 {
  font: var(--text-preset-3);
}
h4 {
  font: var(--text-preset-4);
}
h5 {
  font: var(--text-preset-5);
}

main {
  display: flex;
}

nav + section {
  overflow-y: auto;
  height: 100vh;
  width: 100%;
  padding: clamp(16px, 4vw, 32px) clamp(20px, 5vw, 40px);
}

button {
  -webkit-appearance: none;
  appearance: none;
  -moz-appearance: none;
  border: none;
  background-color: transparent;
  &:hover {
    cursor: pointer;
  }
}

progress {
  width: 100%;
}

section > header {
  display: flex;
  flex-direction: row;
  margin-bottom: var(--Spacing-400);
  justify-content: space-between;
  align-items: center;
}

.generic {
  padding: clamp(24px, 5vw, 32px) clamp(20px, 5vw, 32px);
  background-color: var(--White);
  border-radius: 12px;
  width: 100%;
  & .details {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 1.25rem;
    & .link {
      color: var(--Grey-500);
      font: var(--text-preset-4);
      &:hover {
        color: var(--Grey-900);
      }
    }
  }
}

.list-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid var(--Grey-100);
  padding-bottom: var(--Spacing-200);
  margin-bottom: 20px;
}

.cardinfo {
  border-radius: 12px;
  padding: 24px;
  width: 100%;
}

.cardinfo {
  max-width: 100vw; /*Needs fixing with nav when the navbar is expanded or collapse */
  flex: 1 1 calc(50% - 16px);
  /* &:last-child {
    flex: 1;
  } */
  & .potCard-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    column-gap: 16px;
    align-items: center;
    margin-bottom: var(--Spacing-400);
    .popup-container/*,button*/ {
      flex-grow: 1;
      text-align: end;
    }
  }
  .potCard-barPercent {
    .potCard-info {
      margin-bottom: var(--Spacing-200);
      h4,
      h5 {
        color: var(--Grey-500);
      }
    }
  }
  .potCard-options {
    display: flex;
    flex-direction: row;
    column-gap: var(--Spacing-200);
    margin-top: var(--Spacing-400);
    button {
      width: 100%;
    }
  }
}

.ball {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: black;
}

.link {
  display: inline-flex;
  align-items: center;
  gap: 12px;
  color: inherit;
}

.btn {
  border-radius: 8px;
  padding: 16px;
}

.bg-black {
  background-color: var(--Grey-900);
  color: white;
}

.bg-grey {
  background-color: var(--Beige-100);
  color: var(--Grey-900);
}

.bg-white {
  background-color: white;
}
