.sidebar {
  display: flex;
  flex-direction: column;
  background-color: var(--Grey-900);
  color: var(--Grey-300);
  height: 100vh;
  justify-content: space-between;
  transition: width 0.3s;
  border-radius: 0px 16px 16px 0px;
  place-items: center;
  box-sizing: content-box;
  z-index: 1;
  /* overflow: hidden; */
}

.sidebar.collapsed {
  width: 78px;
  padding-right: 10px;
  & .toggle img {
    -webkit-transform: scale(-1, -1);
    -moz-transform: scale(-1, -1);
    -o-transform: scale(-1, -1);
    transform: scale(-1, -1);
  }
}

.sidebar.expanded {
  width: 276px;
  max-width: 276px;
  padding-right: 24px;

  & > .menu .menu-item > span:last-child {
    font: var(--text-preset-3);
  }
  /* & > .logo img {
    width: 149px;
  } */
  & > .toggle,
  .logo {
    width: 100%;
    max-width: 212px;
  }
}

.logo {
  font-weight: bold;
  margin-top: var(--Spacing-500);
}

.mini-logo {
  width: 18px;
}

.reveal {
  display: block;
  width: 14px;
  height: auto;
  overflow: hidden;
  &.active {
    animation: reveal 1s ease forwards;
  }
}

@keyframes reveal {
  from {
    width: 14px; /* Start cropped */
  }
  to {
    width: 100%; /* Final full width of the logo */
  }
}

.icon img {
  width: 24px;
  height: 24px;
}

.menu {
  display: flex;
  flex-direction: column;
  width: inherit;
}

.menu > li {
  display: grid;
  justify-items: center;
  height: 56px;
}

a:not(.reveal) img,
.icon img {
  padding: 3px;
}

.menu-item,
.toggle {
  display: flex;
  align-items: center;
  cursor: pointer;
  text-align: center;
  overflow: hidden;
  transition: all 0.2s;
  & span:last-child {
    max-width: 0;
    opacity: 0;
    white-space: nowrap;
    overflow: hidden;
  }
}

.menu.active .menu-item,
.menu.active + .toggle {
  width: 212px;
  column-gap: var(--Spacing-200);
  & span:last-child {
    max-width: fit-content;
    opacity: 1;
  }
}

li:not(.PageActive):hover,
.toggle:not(.PageActive):hover {
  color: var(--White);
  & img {
    filter: brightness(2);
  }
}

.toggle {
  font-weight: bold;
  margin-bottom: var(--Spacing-500);
}

.PageActive {
  background-color: var(--Beige-100);
  color: black;
  border-left: 4px solid var(--Green);
  border-radius: 0px 12px 12px 0px;
  & * {
    cursor: default;
  }
  & img {
    filter: invert(36%) sepia(15%) saturate(1056%) hue-rotate(130deg)
      brightness(91%) contrast(87%);
  }
}

/* .sidebar.collapsed .PageActive img {
  filter: brightness(0);
} */

@media screen and (max-width: 768px) {
  main {
    min-height: calc(100vh + 74px);
  }
  .sidebar {
    position: fixed;
    width: 100%;
    bottom: 0px;
    left: 0px;
    flex-direction: row;
    max-height: 74px;
    border-radius: 8px 8px 0px 0px;
    & .logo,
    .toggle {
      display: none;
    }
  }
  .sidebar.collapsed,
  .sidebar.expanded {
    width: 100%;
    max-width: 100%;
    padding: 0px;
    & > .menu .menu-item > span:last-child {
      font: var(--text-preset-5);
      font-size: calc(12px - 0.1vw);
    }
  }
  .menu.active .menu-item,
  .menu.active + .toggle {
    width: initial;
  }
  .menu {
    flex-direction: row;
    justify-content: center;
    height: 100%;
    padding-top: 8px;
    padding-right: 1rem;
    padding-left: 1rem;
    column-gap: clamp(0px, 4vw, 42px);
    & li {
      width: 100%;
      max-width: 104px;
      height: auto;
    }
  }
  .sidebar .menu-item {
    flex-direction: column;
    justify-content: center;
  }
  .menu-item span:last-child,
  .toggle span:last-child {
    max-width: fit-content;
    opacity: 1;
  }

  .PageActive {
    border-radius: 8px 8px 0px 0px;
    border: none;
    border-bottom: 4px solid var(--Green);
    width: 100%;
  }
}

@media screen and (max-width: 425px) {
  .sidebar {
    max-height: 52px;
  }
  .menu {
    column-gap: 0px;
    & li {
      max-width: calc(68.6px + (100vw - 375px) * 0.1);
    }
  }
  .menu-item span:last-child {
    display: none;
  }
}
