.sidebar {
  background-color: var(--Grey-900);
  color: var(--Grey-300);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: width 0.3s;
  border-radius: 0px 16px 16px 0px;
  place-items: center;
  box-sizing: content-box;
  /* overflow: hidden; */
}

.sidebar.collapsed {
  width: 88px;
  padding-right: 10px;
  & .toggle img {
    -webkit-transform: scale(-1, -1);
    -moz-transform: scale(-1, -1);
    -o-transform: scale(-1, -1);
    transform: scale(-1, -1);
  }
}

.sidebar.expanded {
  width: 300px;
  max-width: 300px;
  padding-right: 24px;

  & > .menu .menu-item > span:last-child {
    margin-left: var(--Spacing-200);
    font: var(--text-preset-3);
  }
  & > .logo img {
    width: 149px;
  }
  & > .toggle,
  .logo {
    width: 100%;
    max-width: 212px;
  }
}

.logo {
  font-weight: bold;
  margin-top: var(--Spacing-500);
}

.mini-logo {
  width: 18px;
}

.icon img {
  width: 24px;
  height: 24px;
}

.menu {
  display: flex;
  flex-direction: column;
  width: inherit;
}

.menu > li {
  display: grid;
  justify-items: center;
  height: 56px;
}

.menu-item {
  display: flex;
  align-items: center;
  cursor: pointer;
  text-align: center;
}

.menu.active .menu-item {
  width: 212px;
}

li:not(.PageActive):hover,
.toggle:not(.PageActive):hover {
  color: var(--White);
  & img {
    filter: brightness(2);
  }
}

.toggle {
  cursor: pointer;
  font-weight: bold;
  margin-bottom: var(--Spacing-500);
}

.ml-200 {
  margin-left: var(--Spacing-200);
  vertical-align: super;
}

.PageActive {
  background-color: var(--Beige-100);
  color: black;
  border-left: 4px solid var(--Green);
  border-radius: 0px 12px 12px 0px;
  & * {
    cursor: default;
  }
  & img {
    filter: invert(36%) sepia(15%) saturate(1056%) hue-rotate(130deg)
      brightness(91%) contrast(87%);
  }
}

.sidebar.collapsed .PageActive img {
  filter: brightness(0);
}
