#Transactions {
  .filters {
    display: grid;
    grid-template-columns: 1fr auto auto;
    justify-content: space-between;
    gap: 24px;
    margin-bottom: 1.5rem;
    .input-layout:last-child {
      max-width: 245px;
    }
    > .input-custom {
      max-width: 320px;
    }
  }
  .overviewTransactions {
    padding-right: 1rem;
    padding-left: 1rem;
    color: var(--Grey-500);
    column-gap: var(--Spacing-400);
    margin-bottom: 1rem;
    img {
      width: clamp(32px, 5vw, 40px);
      height: clamp(32px, 5vw, 40px);
      object-fit: cover;
      border-radius: 50%;
    }
    &:last-child {
      margin-bottom: 0px;
    }
    &.desktop {
      padding-bottom: 0.75rem;
    }
    > * {
      flex-basis: 120px;
      &:first-child {
        flex: 1;
      }
      &:last-child {
        text-align: end;
      }
    }
    .setup {
      flex: 1;
    }
  }
  .mobile {
    display: none;
  }
}

#Search {
  min-width: 161px;
}

@media (max-width: 475px) {
  #Transactions .overviewTransactions {
    display: grid;
    grid-template-columns: auto 1fr auto;
    padding-left: 0;
    padding-right: 0;
    row-gap: 4px;
    column-gap: 5.5px;
    img {
      grid-area: 1 / 1 / 3 / 1;
    }
    div {
      grid-area: 1 / 2 / 1 / 2;
    }
    > h5 {
      grid-area: 2 / 2 / 2 / 2;
    }
    > h5:last-of-type {
      grid-area: 2 / 3 / 2 / 3;
    }
  }
  #Transactions .mobile {
    display: block;
    svg {
      font-size: 20px;
    }
  }
  #Transactions .desktop {
    display: none;
  }
  #Transactions {
    .input-layout .input-custom {
      padding: 0;
      border: none;
    }
  }
}
