.popup-container {
  position: relative;
}

.popup-button {
  background: none;
  border: none;
  cursor: pointer;
}

.popup-button:hover {
  background-color: #f0f0f0;
  border-radius: inherit;
}

.popup-menu {
  position: absolute;
  background-color: var(--White);
  top: 120%;
  right: 0;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  width: 100%;
  max-height: max(100px, 23.54vh);
  overflow-y: auto;
  flex-direction: column;
  min-width: max-content;
  z-index: 100;
  animation: fadeIn 0.15s ease;
  padding: 20px 12px;
  scrollbar-width: none;
}

.popup-item {
  background: none;
  border: none;
  text-align: left;
  cursor: pointer;
  font-size: var(--text-Preset-4);
  transition: background 0.2s;
  padding: 12px 0px;
  border-bottom: 1px solid var(--Grey-100);
  &:first-child {
    padding-top: 0px;
  }
  &:last-child {
    border-bottom: none;
    padding-bottom: 0;
  }
  + .delete {
    color: var(--Red);
    border-bottom: none;
    padding-bottom: 0px;
  }
  + .selected {
    font-weight: bold;
  }
}

.options-colors {
  .popup-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    div:first-child {
      margin-right: 0.75rem;
    }
    svg {
      display: none;
    }
    &.selected {
      font-weight: normal;
      svg {
        display: block;
        margin-left: auto;
        font-size: 12px;
        color: var(--Green);
      }
    }
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-4px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
