#Pots {
  section {
    display: flex;
    gap: var(--Spacing-300);
    flex-wrap: wrap;
  }
  .popup-menu {
    max-width: 8vw;
  }
}

@media screen and (max-width: 768px) {
  #Pots .cardinfo {
    flex: none;
  }
}
