#overview {
  & > h1 {
    margin-bottom: 31px;
  }
  & .main-info {
    display: flex;
    flex-direction: row;
    gap: 24px;
    margin-bottom: var(--Spacing-400);
    overflow-x: auto;
    & .cardinfo {
      background-color: var(--White);
      color: var(--Grey-900);
      & h4 {
        color: var(--Grey-500);
      }
    }
    & .cardinfo:first-child {
      background-color: var(--Grey-900);
      color: var(--White);
      & h4 {
        color: var(--White);
      }
    }
  }
}

.overview-section {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: repeat(3, auto);
  grid-template-areas:
    "Pots Budgets"
    "Transactions Budgets"
    "Transactions Recurring";
  gap: 1.5rem;
  .Pots {
    grid-area: Pots;
    /* grid-area: 1 / 1 / 2 / 2; */
  }
  .Transactions {
    grid-area: Transactions;
    /* grid-area: 2 / 1 / 4 / 2; */
  }
  .Budgets {
    grid-area: Budgets;
    /* grid-area: 1 / 2 / 3 / 3; */
  }
  .Recurring {
    grid-area: Recurring;
    /* grid-area: 3 / 2 / 4 / 3; */
  }
}

.overviewPots {
  display: flex;
  column-gap: 20px;
  & > div.total {
    display: inherit;
    width: 100%;
    max-width: 247px;
    align-items: center;
    background-color: var(--Beige-100);
    border-radius: 12px;
    padding: 20px 16px;
    gap: 16px;
    & > div {
      flex-direction: column;
      & img {
        margin: 0 6px;
      }
      & h4 {
        color: var(--Grey-500);
        margin-bottom: 11px;
      }
    }
  }
}

div.detailInfo {
  --calc: calc(calc(100% - 1rem) / 2);
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: 16px;
  & > div {
    height: 43px;
    display: flex;
    align-items: center;
    min-width: clamp(101px, var(--calc), 100vw);
  }
  & > div .bar {
    width: 4px;
    border-radius: 8px;
    height: inherit;
    margin-right: 16px;
  }
}

.overviewTransactions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid var(--Grey-100);
  padding-bottom: var(--Spacing-200);
  margin-bottom: 20px;
  &:last-child {
    margin-bottom: 0px;
    border-bottom: none;
    padding-bottom: 0px;
  }
  > div:first-child {
    display: inherit;
    column-gap: 16px;
    align-items: center;
    img {
      width: clamp(32px, 5vw, 40px);
      height: clamp(32px, 5vw, 40px);
      object-fit: cover;
      border-radius: 50%;
      + h4 {
        font-weight: 600;
      }
    }
  }
  > div:last-child {
    display: inherit;
    flex-direction: column;
    gap: 8px;
    text-align: right;
    h4 {
      font-weight: 600;
    }
    h5 {
      color: var(--Grey-500);
    }
  }
}

.gain {
  color: var(--Green);
}
.minus {
  /* color: var(--Red); */
  color: initial;
}

.overviewBudgets {
  display: flex;
  align-items: center;
  gap: 1.25rem;
  position: relative;
  justify-content: center;
  z-index: 0;
  .chart2 > path {
    stroke: none;
  }
  .detailInfo {
    flex-direction: column;
  }
}

@property --angle {
  syntax: "<angle>";
  inherits: false;
  initial-value: 0deg;
}

.chart {
  min-width: 240px;
  height: 240px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 0;
  /* Animate the rotation */
  /* animation: rotateChart 1s ease-out forwards; */
  background: conic-gradient(from var(--angle), var(--segments));

  &::before {
    content: "";
    position: absolute;
    width: 162px;
    height: 162px;
    background: var(--White);
    border-radius: inherit;
    z-index: 15;
  }
  &::after {
    content: "";
    position: absolute;
    width: 187.5px;
    height: 187.5px;
    background: var(--White);
    border-radius: inherit;
    opacity: 0.25;
    z-index: 15;
  }
  .chart-inner {
    position: relative;
    text-align: center;
    z-index: 20;
    h5 {
      color: var(--Grey-500);
    }
  }
}

/* @keyframes rotateChart {
  from {
    --angle: 0deg;
  }
  to {
    --angle: 360deg;
  }
} */

@property --slice-fill {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 0%;
}

.slice {
  position: absolute;
  inset: 0;
  border-radius: 50%;
  background: conic-gradient(
    var(--color) 0% var(--slice-fill),
    transparent var(--slice-fill) 100%
  );
  animation: fillSlice 1s ease-out forwards;
}

@keyframes fillSlice {
  from {
    --slice-fill: 0%;
  }
  to {
    --slice-fill: var(--target);
  }
}

.chart2 {
  text-align: center;
  z-index: 1;
  position: absolute;
  width: 240px;
  height: 240px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  h5 {
    color: var(--Grey-500);
  }
  &::before {
    content: " ";
    position: absolute;
    width: 162px;
    height: 162px;
    background: var(--White);
    border-radius: 50%;
    z-index: -1;
  }
  &::after {
    content: "";
    position: absolute;
    width: 187.5px;
    height: 187.5px;
    background: var(--White);
    border-radius: inherit;
    opacity: 0.25;
  }
}

.overviewRecurring {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-top: 2rem;
  .bill-capsule {
    display: inherit;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    background-color: var(--Beige-100);
    border-radius: 8px;
    border-left: 4px solid var(--theme);
    padding: 20px 16px;
    > h4:first-child {
      color: var(--Grey-500);
      &:last-child {
        color: var(--Grey-900);
      }
    }
  }
}

.overviewBudgets,
.overviewPots:focus,
.overviewTransactions:focus,
.overviewRecurring:focus {
  user-select: none;
}

@media (max-width: 768px) {
  .overview-section {
    grid-template-areas: "Pots Pots" "Transactions Transactions " "Budgets Budgets" "Recurring Recurring";
    grid-template-columns: 1fr;
  }

  div.detailInfo {
    width: initial;
  }
}

@media (max-width: 425px) {
  #overview .main-info {
    flex-wrap: wrap;
  }
  .overviewPots {
    flex-direction: column;
    row-gap: 20px;
    > div.total {
      max-width: initial;
    }
  }
  .overviewBudgets {
    flex-direction: column;
    > div.detailInfo {
      flex-direction: row;
      width: 100%;
    }
  }
}
@media (max-width: 375px) {
  #overview .main-info {
    gap: 12px;
    flex-direction: column;
  }
}
