#overview {
  & > h1 {
    margin-bottom: 31px;
  }
  & .main-info {
    display: flex;
    flex-direction: row;
    gap: 24px;
    margin-bottom: var(--Spacing-400);
    overflow-x: auto;
    & .cardinfo {
      background-color: var(--White);
      color: var(--Grey-900);
      & h4 {
        color: var(--Grey-500);
      }
    }
    & .cardinfo:first-child {
      background-color: var(--Grey-900);
      color: var(--White);
      & h4 {
        color: var(--White);
      }
    }
  }
}

.overview-section {
  display: grid;
  grid-template-columns: auto auto;
  /* grid-template-areas:
    "Pots" "Budgets"
    "Transactions" "Recurring Bills"; */
  gap: 1.5rem;
}

.overviewPots {
  display: flex;
  column-gap: 20px;
  & > div.total {
    display: inherit;
    width: 100%;
    max-width: 247px;
    align-items: center;
    background-color: var(--Beige-100);
    border-radius: 12px;
    padding: 20px 16px;
    gap: 16px;
    & > div {
      flex-direction: column;
      & img {
        margin: 0 6px;
      }
      & h4 {
        color: var(--Grey-500);
        margin-bottom: 11px;
      }
    }
  }
  & > div.detailInfo {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 16px;
    & > div {
      height: 43px;
      display: flex;
      align-items: center;
      width: inherit;
      max-width: 130px;
    }
    & > div .bar {
      width: 4px;
      border-radius: 8px;
      height: inherit;
      margin-right: 16px;
    }
  }
}

.overviewTransactions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid var(--Grey-100);
  padding-bottom: var(--Spacing-200);
  margin-bottom: 20px;
  &:last-child {
    margin-bottom: 0px;
    border-bottom: none;
    padding-bottom: 0px;
  }
  > div:first-child {
    display: inherit;
    column-gap: 16px;
    align-items: center;
    img {
      width: clamp(32px, 5vw, 40px);
      height: clamp(32px, 5vw, 40px);
      object-fit: cover;
      border-radius: 50%;
      + h4 {
        font-weight: 600;
      }
    }
  }
  > div:last-child {
    display: inherit;
    flex-direction: column;
    gap: 8px;
    text-align: right;
    h4 {
      font-weight: 600;
    }
    h5 {
      color: var(--Grey-500);
    }
  }
}

.gain {
  color: var(--Green);
}
.minus {
  /* color: var(--Red); */
}

@media (max-width: 768px) {
  .overview-section {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 425px) {
  .overview .main-info {
    flex-wrap: wrap;
  }
}
@media (max-width: 375px) {
  .overview .main-info {
    gap: 12px;
    flex-direction: column;
  }
}
