.progress-bar {
  width: 100%;
  height: 8px;
  background-color: var(--Beige-100);
  border-radius: 4px;
  /* overflow: hidden; */
}

.progress-fill {
  height: 100%;
  border-radius: 4px;
  width: 0;
  transition: width 0.4s ease;
}
